@{
	ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>
@using (Html.BeginForm("UploadFile", "ApacheLog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="file" name="fileUpload" />
	<input type="submit" name="Submit" value="Upload" />
}

